#SS : NP VP . : NP-VP : SS
#VP : V NP : V-NP : V
#NP : J N : J-N : N
#NP : N1 such as N2 , N3 CC N4 : N2-N1 N3-N1 N4-N1 : N1
#NP : N such as N1 , N1 CC N1 : N1-is_a-N : N
NP : N0 such as N1 , N2 , CC N3 : N1-N0 N2-N0 N3-N0 : N0